.heading h1 {
  font-size: 60px;
}
.heading h4 {
  font-size: 20px;
}

.bg-bland-gray {
  background-color: #f3f4f8;
}

.bg-medium-gray {
  background-color: #bbbbbb;
}

.bg-dark-gray {
  background-color: #606060;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}
.navbar .user:hover .bi, .navbar .user:hover p, .navbar .basket:hover .bi, .navbar .basket:hover p {
  color: rgba(0, 0, 0, 0.7) !important;
}
.navbar .menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .menu-mobile .menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .menu-mobile .menu {
  width: 200px;
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #8d8d8d;
  padding: 0px 20px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .menu-mobile .menu .funtion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.navbar .menu-mobile .menu .menu-list {
  list-style: none;
  padding: 0 0px;
}
.navbar .menu-mobile .menu .menu-list .menu-item:hover .menu-link {
  opacity: 0.5;
}
.navbar .menu-mobile .menu .menu-list .menu-item .menu-link {
  color: #fff;
  text-decoration: none;
  line-height: 40px;
}

.content .product .row {
  margin: 0 0;
  border-bottom: 1px solid #ccc;
}
.content .product .row a {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content .product .row a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.content .product .row a:hover .text {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.content .product .row a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.content .product .row a .text {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.content .product .row a .image {
  max-width: 100%;
  height: auto;
}
.content .product .row .col-s {
  padding: 0 0;
}

.inspiration {
  overflow: hidden;
}
.inspiration .carousel-control-prev, .inspiration .carousel-control-next {
  width: unset;
  background-color: #e4e4e4;
}
.inspiration .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page-footer h6 {
  color: #676767;
}
.page-footer a, .page-footer p {
  color: #9e9e9e;
  text-decoration: none;
}
.page-footer a:hover {
  color: #676767;
}