@font-face {
    font-family: myriad;
    src: url(MYRIADPRO-REGULAR.OTF);
}
.app{
    background-color: #e5e5e5;
    .main{
        max-width: 1244px;
        background-color: #fff;
        .navbar{
            a{
                font-weight: 700;
            }
            .user, .basket{
                &:hover{
                    .bi, p{
                        color: rgba(0,0,0,0.7) !important;
                    }
                }
            }
        
            .menu-mobile{
                display: flex;
                .menu.open{
                    transform: translateX(0);
                    transition: all 0.5s ease;
                }
                .menu{
                    width: 200px;
                    z-index: 5;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #8d8d8d;
                    padding: 0px 20px;
                    transform: translateX(-100%);
                    transition: all 0.5s ease;
                    .funtion{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 0;
                    }
                    .menu-list{
                        list-style: none;
                        padding: 0 0px;
                        .menu-item{
                            &:hover .menu-link{
                                opacity: 0.5;
                            }
                            .menu-link{
                                color: #fff;
                                text-decoration: none;
                                line-height: 40px;
                            }
                        }
                    }
                }
        
            }
        }
        
        .content{
            .heading{
                margin: 140px 0;
                h1{
                    font-weight: 400;
                }
                h4{
                    font-family: myriad;
                    font-weight: bold;
                }
            }
            .product{
                max-width: 100%;
                .row{
                    margin: 0 0;
                    .col-l{
                        height: 590px;
                    }
                    .col-s{
                        height: 295px;
                    }
                    a{
                        border: 1px solid #ccc;
                        position: relative;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        &::before {
                            content: " ";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.5);
                            transform: scale(0);
                            transition: transform 0.5s linear;
                        }
                        &:hover{
                            .text{
                                transform: scale(1);
                                transition: transform 0.5s linear;
                            }
                            &::before{
                                transform: scale(1);
                                transition: transform 0.5s ease;
                            }
                        }
                        .text{
                            padding: 48px;
                            transform: scale(0);
                            transition: transform 0.5s linear;
                            p{
                                font-family: myriad;
                                font-style: italic;
                            }
                        }
                        .image{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .sign-up{
            margin: 132px 24px;
            h2{
                font-weight: 500;
            }
            h5{
                font-family: myriad;
                font-weight: 600;
            }
            .form-inline{
                margin-top: 32px;
            }
        }
        .inspiration{
            overflow: hidden;
            .slide{
                height: 118px;
                width: 100%;
            }
            .carousel-control-prev, .carousel-control-next{
                width: unset;
                background-color: #e4e4e4;
            }
            .carousel-item{
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .page-footer{
            h6{
                color: #676767;
            }
            a, p{
                color: #9e9e9e;
                text-decoration: none;
            }
            a{
                &:hover{
                    color: #676767;
                }
            }
            .socical{
                a{
                    background-color: #fff;
                    border: 1px solid #ccc;
                    &:hover{
                        background-color: #e4e4e4;
                    }
                }
            }
        }
        
    }
}
.heading{
    h1{
        font-size: 60px;
    }
    h4{
        font-size: 20px;
    }
}

.bg-bland-gray{
    background-color: #f3f4f8;
}

.bg-medium-gray{
    background-color: #bbbbbb;
}

.bg-dark-gray{
    background-color: #606060;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }
    to{
        opacity: 1;
        display: block;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .app{
        .main{
            .content{
                .heading{
                    margin: 50px 0;
                    h1{
                        font-size: 40px;
                    }
                }
            }
            .sign-up{
                margin: 50px 24px;
            }
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
