.heading{
    h1{
        font-size: 60px;
    }
    h4{
        font-size: 20px;
    }
}

.bg-bland-gray{
    background-color: #d2d2d2;
}
.bg-medium-gray{
    background-color: #bbbbbb;
}
.bg-dark-gray{
    background-color: #606060;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }
    to{
        opacity: 1;
        display: block;
    }
}
.content{
    .product{
        .row{
            margin: 0 0;
            border-bottom: 1px solid #ccc;
            a{
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                position: relative;
                &::before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    transform: scale(0);
                    transition: transform 0.5s linear;
                }
                &:hover{
                    .text{
                        transform: scale(1);
                        transition: transform 0.5s linear;
                    }
                    &::before{
                        transform: scale(1);
                        transition: transform 0.5s ease;
                    }
                }
                .text{
                    transform: scale(0);
                    transition: transform 0.5s linear;
                }
            }
            .col-s{
                padding: 0 0;
                img{
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
.page-footer{
    h6{
        color: #676767;
    }
    a, p{
        color: #9e9e9e;
        text-decoration: none;
    }
    a{
        &:hover{
            color: #676767;
        }
    }
}

